<nav ng-controller="NavController" class="navbar-transparent">
	
	<div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	    <ul class="nav nav-pills pull-right nav-blue">
	    
	    	<li class="pull-left" 
	    		role="presentation">
				<a href="">Game</a>
			</li>
			<li class="pull-left" 
				role="presentation">
				<a href="">Shop</a>
			</li>
			
			<span class="separate-nav-buttons"></span>
	    	
	    	<li role="presentation"
	        	class="pull-right">
	        	<a href="javascript:void(0)" ng-click="doLogout()">Logout</a>
	    	</li>
	    	
	        <li role="presentation" 
	        	class="active pull-right">
	        	<a href="">{{ user.username }}</a>
	    	</li>
	        
	    </ul>
    </div>
</nav>
<h3 class="text-muted"><a href="#/" style="color: #fff; text-decoration: none;">Undef</a></h3>
