<nav ng-controller="NavController">

        <ul class="nav nav-pills pull-left nav-blue nav-white">

            <li>
                <h3 class="text-muted">
                    <a href="#/dashboard" style="color: #fff; text-decoration: none;">Samaritans</a>
                </h3>
            </li>

            <li ng-repeat="link in navUrl"
                role="presentation">
                <a href="#{{ link.url }}"
                    ng-class="checkActiveLink(link.url)"
                    >
                    {{ link.name }}
                </a>
            </li>

        </ul>

	    <ul class="nav nav-pills pull-right nav-blue">

	    	<li role="presentation"
	        	class="pull-right">
	        	<a href="javascript:void(0)" ng-click="doLogout()">Излез</a>
	    	</li>

	        <li role="presentation"
	        	class="active pull-right">
	        	<a href="">{{ user.username }}</a>
	    	</li>

	    </ul>
</nav>