<div class="header clearfix">

</div>

<div class="jumbotron index-container">
	<h1>Регистрация в Samaritans</h1>
	<div class="form-container">
		<form ng-submit="saveNewUser(addUserForm)"
			name="addUserForm" novalidate>
			<div class="form-group"
				ng-class="{'has-error' : registerUserForm.email.$invalid && formSubmitted}">
				<label for="email">Email</label>
				<input type="email"
					class="form-control"
					id="email"
					name="email"
					placeholder="Email"
					ng-model="newUser.email"
					required
					autocomplete="off"
				/>
				<!-- <span ng-show="addUserForm.email.$dirty && addUserForm.email.$error.required" class="help-block">Email is required!</span>
				<span ng-show="addUserForm.email.$dirty && addUserForm.email.$error.email"
					class="help-block">
					Please enter a valid email
				</span> -->
				<span ng-show="addUserForm.email.$invalid && formSubmitted" class="help-block">Email адресът е задължителен</span>
			</div>

			<div class="form-group"
				ng-class="{'has-error' : addUserForm.username.$invalid && formSubmitted}">
				<label for="username">Име</label>
				<input type="text"
					class="form-control"
					id="username"
					name="username"
					placeholder="Име"
					ng-model="newUser.username"
					required
					autocomplete="off"
				/>
				<!-- <span ng-show="addUserForm.username.$dirty && addUserForm.username.$error.required" class="help-block">Username is required!</span>
				<span ng-show="addUserForm.username.$dirty && addUserForm.username.$error.minlength"
					class="help-block">
					Username must be at least 4 characters long
				</span> -->
				<span ng-show="addUserForm.username.$invalid && formSubmitted" class="help-block">Името е задължително</span>
			</div>

			<div class="form-group"
				ng-class="{'has-error' : addUserForm.password.$invalid && formSubmitted}">
				<label for="password">Парола</label>
				<input type="password"
					class="form-control"
					id="password"
					name="password"
					placeholder="Парола"
					ng-model="newUser.password"
					ng-minlength="6"
					required
					autocomplete="off"
				/>
				<!-- <span ng-show="addUserForm.password.$dirty && addUserForm.password.$error.required" class="help-block">Паролата е задължителна.</span> -->
				<span ng-show="addUserForm.password.$invalid && formSubmitted" class="help-block">Паролата е задължителна.</span>
				<span ng-show="addUserForm.password.$dirty && addUserForm.password.$error.minlength"
					class="help-block">
					<!-- Password must be at least 6 characters long -->
					Паролата трябва да бъде с дължина от поне 6 символа.
				</span>
			</div>

			<div class="form-group">
				<label for="location">Държава</label>
				<input type="text"
					class="form-control"
					id="location"
					name="location"
					placeholder="Държава"
					ng-model="newUser.location"
					required
					autocomplete="off"
				/>
				<!-- <span ng-show="addUserForm.location.$dirty && addUserForm.location.$error.required" class="help-block">Location is required!</span> -->
				<span ng-show="addUserForm.location.$invalid && formSubmitted" class="help-block">Местоположението е задължително.</span>
			</div>

			<button class="btn btn-success" role="button">
				Присъедини се!
			</button>

			<p class="join-btn">
				<a class="btn btn-small btn-warning" href="#/" role="button">
					Назад
				</a>
			</p>
		</form>
	</div>
</div>